doctype html
html
	head
		meta(charset="UTF-8")
		title battle loop
		
		// auto generated styles
		each css_href in css_href_list
			link(rel="stylesheet", href=css_href, type="text/css")

		// user styles
		link(rel="stylesheet", href="css/dashboard.css", type="text/css")
		link(rel="stylesheet", href="css/dashboard-nav-item.css", type="text/css")
		link(rel="stylesheet", href="css/layer.css", type="text/css")
		link(rel="stylesheet", href="css/hbox.css", type="text/css")
		link(rel="stylesheet", href="css/battle.css", type="text/css")
		link(rel="stylesheet", href="css/prop.css", type="text/css")
		link(rel="stylesheet", href="css/prop-box.css", type="text/css")
		link(rel="stylesheet", href="css/ability-box.css", type="text/css")
		link(rel="stylesheet", href="css/title-box.css", type="text/css")
		link(rel="stylesheet", href="css/equip.css", type="text/css")
		link(rel="stylesheet", href="css/map.css", type="text/css")

	body
		div.dashboard
			div.dashboard-nav
				a.dashboard-nav-item(href="javascript:show_layer(0);") 战斗
				a.dashboard-nav-item.current(href="javascript:show_layer(1);") 属性
				a.dashboard-nav-item(href="javascript:show_layer(2);") 装备
				a.dashboard-nav-item(href="javascript:show_layer(3);") 地图
			div.dashboard-content
				div.layer.hide
					include include/battle.jade
				div.layer
					include include/prop.jade
				div.layer.hide
					include include/equip.jade
				div.layer.hide
					include include/map.jade

		// auto generated scripts
		each script_src in script_src_list
			script(type="text/javascript", src=script_src)

		// user scripts
		script(type="text/javascript", src="js/dashboard.js")