doctype html
html
	head
		meta(charset="UTF-8")
		title battle loop
		
		// auto generated styles
		each css_href in css_href_list
			link(rel="stylesheet", href=css_href, type="text/css")

		// general style
		link(rel="stylesheet", href="css/font.css", type="text/css")
		link(rel="stylesheet", href="css/border.css", type="text/css")
		link(rel="stylesheet", href="css/top-box.css", type="text/css")

		// style in auth
		link(rel="stylesheet", href="css/auth.css", type="text/css")

		// style in char-manager
		link(rel="stylesheet", href="css/char-manager.css", type="text/css")

		// style in dashboard
		link(rel="stylesheet", href="css/dashboard.css", type="text/css")
		link(rel="stylesheet", href="css/dashboard-nav-item.css", type="text/css")
		link(rel="stylesheet", href="css/layer.css", type="text/css")
		link(rel="stylesheet", href="css/hbox.css", type="text/css")
		link(rel="stylesheet", href="css/list.css", type="text/css")
		link(rel="stylesheet", href="css/battle.css", type="text/css")
		link(rel="stylesheet", href="css/prop.css", type="text/css")
		link(rel="stylesheet", href="css/prop-box.css", type="text/css")
		link(rel="stylesheet", href="css/ability-box.css", type="text/css")
		link(rel="stylesheet", href="css/title-box.css", type="text/css")
		link(rel="stylesheet", href="css/equip.css", type="text/css")
		link(rel="stylesheet", href="css/pet.css", type="text/css")
		link(rel="stylesheet", href="css/map.css", type="text/css")

	body.font-hei
		div.top-box.auth.border.hide
			include include/auth.jade

		div.top-box.char-manager.border
			include include/char-manager.jade

		div.top-box.dashboard.border.hide
			div.dashboard-nav.border
				a.dashboard-nav-item(href="javascript:show_layer(0);") 战斗
				a.dashboard-nav-item(href="javascript:show_layer(1);") 属性
				a.dashboard-nav-item(href="javascript:show_layer(2);") 装备
				a.dashboard-nav-item.current(href="javascript:show_layer(3);") 宠物
				a.dashboard-nav-item(href="javascript:show_layer(4);") 地图
			div.dashboard-content.border
				div.layer.hide
					include include/battle.jade
				div.layer.hide
					include include/prop.jade
				div.layer
					include include/equip.jade
				div.layer
					include include/pet.jade
				div.layer.hide
					include include/map.jade

		// auto generated scripts
		each script_src in script_src_list
			script(type="text/javascript", src=script_src)

		// user scripts
		script(type="text/javascript", src="js/dashboard.js")
