h1 登录
span 用户名
br
input(type="text")
br
span 密码
br
input(type="password")
br
button 登录
br
a(href="#") 还没有帐号？立即注册

h1 注册
span 用户名
br
input(type="text")
br
span 密码
br
input(type="password")
br
span 重复密码
br
input(type="password")
br
button 注册
br
a(href="#") 已经有帐号？立即登录
