div.battle
	div.hbox.left
		h2.hbox-title 参战者
		ul
			li
				span.name 姓名
				span.value 张大虎
			li
				span.name 种族
				span.value 精灵
			li
				span.name 年龄
				span.value 32
			li
				span.name 等级
				span.value 15
			li
				span.name 血量
				span.value 
			li
				span.name 魔法
				span.value  
			li
				span.name 经验
				span.value 
			li
				span.name 金币
				span.value 1553
			li
				span.name 技能点
				span.value 28
			li
				span.name 战斗力
				span.value 430 
	div.hbox.right
		h2.hbox-title 战况