div.battle
	div.hbox.left
		h2.hbox-title 参战者
		// character
		div.hbox-sub-title 睿智的张大虎
			span.postfix 15级精灵
		ul.name-value-list
			li
				span.name 血量
				span.value 134/200
			li
				span.name 魔法
				span.value 140/200
			li
				span.name 经验
				span.value 2890/12580
			li
				span.name 金币
				span.value 1553
			li
				span.name 技能点
				span.value 28
			li
				span.name 战斗力
				span.value 430 
		// pet
		div.hbox-sub-title 月宝
			span.postfix 24级红狐狸
		ul.name-value-list
			li
				span.name 血量
				span.value 134/200
			li
				span.name 魔法
				span.value 140/200
			li
				span.name 经验
				span.value 2890/12580
			li
				span.name 技能点
				span.value 28
			li
				span.name 战斗力
				span.value 430 
		// enemy
		div.hbox-sub-title 强壮的山怪
			span.postfix 12级
		ul.name-value-list
			li
				span.name 血量
				span.value 134/200
			li
				span.name 魔法
				span.value 140/200
			li
				span.name 战斗力
				span.value 430
	div.hbox.right
		h2.hbox-title 战况