div.equip
	div.hbox.left
		h2.hbox-title 已装备
		ul.name-value-list
			li
				span.name 头部
				span.value 无
			li
				span.name 颈部
				span.value 无
			li
				span.name 躯干
				span.value 无
			li
				span.name 左手腕
				span.value 无
			li
				span.name 右手腕
				span.value 无
			li
				span.name 左手
				span.value 无
			li
				span.name 右手
				span.value 无
			li
				span.name 脚部
				span.value 无
	div.hbox.middle
		h2.hbox-title 背包
		div.hbox-sub-title 12/50
		ul.select-list
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
			li
				div.icon
				div.name equipment name
	div.hbox.right
		h2.hbox-title 商店
		ul.select-list
			li.select-list-head general
			li
				div.icon
				div.name goods name
			li
				div.icon
				div.name goods name
			li
				div.icon
				div.name goods name
			li
				div.icon
				div.name goods name
			li
				div.icon
				div.name goods name
			li
				div.icon
				div.name goods name
			li.select-list-head general
			li
				div.icon
				div.name goods name
			li
				div.icon
				div.name goods name
			li
				div.icon
				div.name goods name
			li
				div.icon
				div.name goods name
			li
				div.icon
				div.name goods name
			li
				div.icon
				div.name goods name
				