div.map
	div.hbox.left
		h2.hbox-title 地图
	div.hbox.right
		h2.hbox-title 掉落统计
		ul.name-value-list
			li
				span.name 金币
				span.value 20980
			li
				span.name 经验
				span.value 155307
			li
				span.name 基础装备
				span.value 233
			li
				span.name 魔力装备
				span.value 121
			li
				span.name 罕见装备
				span.value 40
			li
				span.name 完美装备
				span.value 7
			li
				span.name 史诗装备
				span.value 1
			li
				span.name 传奇装备
				span.value 0
