div.pet
	div.hbox.left
		h2.hbox-title 当前宠物
		div.hbox-sub-title 月宝
			span.postfix
				span.pet-level 15级
				span.pet-race 红狐狸
		ul.name-value-list
			li
				span.name 血量
				span.value 340/340
			li
				span.name 魔法
				span.value 220/220
			li
				span.name 攻击力
				span.value 450~640
			li
				span.name 平衡
				span.value 33
			li
				span.name 暴击
				span.value 45
			li
				span.name 暴击倍率
				span.value 220
			li
				span.name 防御
				span.value 205
			li
				span.name 护甲
				span.value 17
			li
				span.name 魔攻
				span.value 103
	div.hbox.middle
		h2.hbox-title 培养
		div.hbox-sub-title 技能点 8
		ul.select-list
			li
				div.icon
				div.name skill name
			li
				div.icon
				div.name skill name
			li
				div.icon
				div.name skill name
			li
				div.icon
				div.name skill name
			li
				div.icon
				div.name skill name
			li
				div.icon
				div.name skill name
			li
				div.icon
				div.name skill name
	div.hbox.right
		h2.hbox-title 宠物箱
		div.hbox-sub-title 7/10
		ul.select-list
			li
				div.icon
				div.name pet name
			li
				div.icon
				div.name pet name
			li
				div.icon
				div.name pet name
			li
				div.icon
				div.name pet name
			li
				div.icon
				div.name pet name
			li
				div.icon
				div.name pet name
			li
				div.icon
				div.name pet name