div.prop
	div.hbox.left.prop-box 
		h2.hbox-title 属性
		div.char
			span.char-title 睿智的
			span.char-name 张大虎
			span.char-level-and-race
				span.char-level 15级
				span.char-race 精灵
		ul
			li
				span.name 血量
				span.value 130/220
			li
				span.name 魔法
				span.value 200/200
			li
				span.name 力量
				span.value 38(27)
			li
				span.name 敏捷
				span.value 20(11)
			li
				span.name 智力
				span.value 34(33)
			li
				span.name 意志
				span.value 30(29)
			li
				span.name 幸运
				span.value 15(15)
			li
				span.name 攻击力
				span.value 19~22
			li
				span.name 平衡
				span.value 31
			li
				span.name 暴击
				span.value 15
			li
				span.name 暴击倍率
				span.value 153
			li
				span.name 防御
				span.value 19
			li
				span.name 护甲
				span.value 2%
	div.hbox.middle.ability-box 
		h2.hbox-title 技能
		div.ability-point-title
			span 可分配技能点
			span.available-ability-point 24
		ul.ability-list
			li.class 近战技能
			li.ability-item
				div.icon
				div.name Smarsh F
				div.learn 学习
			li.ability-item
				div.icon
				div.name Counterattack F
				div.learn 学习
			li.ability-item
				div.icon
				div.name Defence F
				div.learn 学习
			li.ability-item
				div.icon
				div.name Mirage Missile F
				div.learn 学习
		ul.ability-list
			li.class 魔法技能
			li.ability-item
				div.icon
				div.name Firebolt F
				div.learn 学习
			li.ability-item
				div.icon
				div.name Icebolt F
				div.learn 学习
			li.ability-item
				div.icon
				div.name Lightingbolt F
				div.learn 学习
		ul.ability-list
			li.class 被动技能
			li.ability-item
				div.icon
				div.name Combat Mastery F
				div.learn 学习
			li.ability-item
				div.icon
				div.name Critical Hit F
				div.learn 学习
			li.ability-item
				div.icon
				div.name Magic Mastery F
				div.learn 学习
			li.ability-item
				div.icon
				div.name Blacksmithing 9
				div.learn 学习
			li.ability-item
				div.icon
				div.name Range Mastery F
				div.learn 学习
	div.hbox.right.title-box 
		h2.hbox-title 头衔
		ul
			li.title-item the beginner
			li.title-item the reborn
			li.title-item the adult
			li.title-item the all knowning
			li.title-item the old
			li.title-item who reached lv 50 at age 10
			li.title-item the wise
			li.title-item the strong
			li.title-item the skillful
			li.title-item the tough
			li.title-item the lucky
			li.title-item the beginner forger
			li.title-item the advanced forger
			li.title-item the expert forger
			li.title-item the god blessed
			li.title-item who experienced death
			li.title-item who transcended death
			li.title-item the breaker
			li.title-item the terminator
			li.title-item the killer
			li.title-item the warlord
			li.title-item the boss slayer
			li.title-item the butterfingers
			li.title-item the weakness discoverer
			li.title-item the elemental apprentice
			li.title-item the elemental master
			li.title-item the sniper
			li.title-item the master of blacksmithing
			li.title-item the combat master
			li.title-item the master of counter
			li.title-item the master of critical hit
			li.title-item the master of defence
			li.title-item the master of firebolt
			li.title-item the master of icebolt
			li.title-item the master of lighting bolt
			li.title-item the magic master
			li.title-item the master of smarsh
			li.title-item the master of range
			li.title-item the master of mirage missle
			li.title-item the master of corposion
			li.title-item the master of fireball
			li.title-item the master of ice spear
			li.title-item the master of thunder
			li.title-item the mana shield master
			li.title-item the life drain master