div.prop
	div.hbox.left.prop-box 
		h2.hbox-title 属性
		div.hbox-sub-title.char
			span.char-title 睿智的
			span.char-name 张大虎
			span.char-level-and-race
				span.char-level 15级
				span.char-race 精灵
		ul.name-value-list
			li
				span.name 血量
				span.value 130/220
			li
				span.name 魔法
				span.value 200/200
			li
				span.name 力量
				span.value 38(27)
			li
				span.name 敏捷
				span.value 20(11)
			li
				span.name 智力
				span.value 34(33)
			li
				span.name 意志
				span.value 30(29)
			li
				span.name 幸运
				span.value 15(15)
			li
				span.name 攻击力
				span.value 19~22
			li
				span.name 平衡
				span.value 31
			li
				span.name 暴击
				span.value 15
			li
				span.name 暴击倍率
				span.value 153
			li
				span.name 防御
				span.value 19
			li
				span.name 护甲
				span.value 2
	div.hbox.middle.ability-box 
		h2.hbox-title 技能
		div.hbox-sub-title
			span 可分配技能点
			span.available-ability-point 24
		ul.select-list.ability-list
			li.select-list-head 近战技能
			li.ability-item
				div.icon
				div.name Smarsh F
				div.operate 学习
			li.ability-item
				div.icon
				div.name Counterattack F
				div.operate 学习
			li.ability-item
				div.icon
				div.name Defence F
				div.operate 学习
			li.ability-item
				div.icon
				div.name Mirage Missile F
				div.operate 学习
			li.select-list-head 魔法技能
			li.ability-item
				div.icon
				div.name Firebolt F
				div.operate 学习
			li.ability-item
				div.icon
				div.name Icebolt F
				div.operate 学习
			li.ability-item
				div.icon
				div.name Lightingbolt F
				div.operate 学习
			li.select-list-head 被动技能
			li.ability-item
				div.icon
				div.name Combat Mastery F
				div.operate 学习
			li.ability-item
				div.icon
				div.name Critical Hit F
				div.operate 学习
			li.ability-item
				div.icon
				div.name Magic Mastery F
				div.operate 学习
			li.ability-item
				div.icon
				div.name Blacksmithing F
				div.operate 学习
			li.ability-item
				div.icon
				div.name Range Mastery F
				div.operate 学习
	div.hbox.right.title-box 
		h2.hbox-title 头衔
		ul.select-list
			li the beginner
			li the reborn
			li the adult
			li the all knowning
			li the old
			li who reached lv 50 at age 10
			li the wise
			li the strong
			li the skillful
			li the tough
			li the lucky
			li the beginner forger
			li the advanced forger
			li the expert forger
			li the god blessed
			li who experienced death
			li who transcended death
			li the breaker
			li the terminator
			li the killer
			li the warlord
			li the boss slayer
			li the butterfingers
			li the weakness discoverer
			li the elemental apprentice
			li the elemental master
			li the sniper
			li the master of blacksmithing
			li the combat master
			li the master of counter
			li the master of critical hit
			li the master of defence
			li the master of firebolt
			li the master of icebolt
			li the master of lighting bolt
			li the magic master
			li the master of smarsh
			li the master of range
			li the master of mirage missle
			li the master of corposion
			li the master of fireball
			li the master of ice spear
			li the master of thunder
			li the mana shield master
			li the life drain master