/* position */
.ability-box .ability-list > .ability-item {
	position: relative;
}

.ability-box .ability-list > .ability-item .icon {
	position: absolute;
	left: 10px;
	top: 10px;
}

.ability-box .ability-list > .ability-item .name {
	position: absolute;
	left: 46px;
	top: 10px;
}

.ability-box .ability-item .learn {
	position: absolute;
	right: 10px;
	top: 10px;
}

/* margin, padding */
.ability-box .ability-point-title {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ability-box .ability-list {
	margin: 0;
	padding: 0;
}

.ability-box .ability-list {
	margin-left: 0;
}

.ability-box .ability-list > .class {
	padding-left: 10px;
}

.ability-box .ability-list > .ability-item {
	margin-bottom: 0;
}

/* width, height */
.ability-box .ability-list > .ability-item {
	height: 48px;
}

.ability-box .ability-list > .ability-item .icon {
	width: 24px;
	height: 24px;
}

/* border */
.ability-box .ability-list > .class {
	border-top: 1px solid black;
}

.ability-box .ability-list > .ability-item {
	border-top: 1px solid black;
}

.ability-box .ability-list > .ability-item:last-child {
	border-bottom: 1px solid black;
}

.ability-box .ability-list > .ability-item .icon {
	border: 1px solid black;
}

/* list */
ul.ability-box {
	list-style-type: none;
}

/* background */
.ability-box .ability-list > .class {
	background: black;
}

/* text */
.ability-box .ability-list > .class {
	color: white;
}
