/* margin, padding */

html, body {
	margin: 0;
	padding: 0;
}

.dashboard-nav, .dashboard-content {
	margin: 8px;
}

/* width, height */

.dashboard-nav {
	height: 40px;
}

.dashboard-content {
	height: 500px;
}

/* position */
.dashboard-content {
	position: relative;
}