/* position */
.map {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.map > .hbox.left {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

.map > .hbox.right {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

/* width, height */
.map > .hbox.left {
	width: 654px;
}

.map > .hbox.right {
	width: 327px;
}

/* border */
.map > .hbox.right {
	border-left: 1px solid black;
}