/* margin, padding */
.prop-box ul {
	margin: 10px 0 0 10px;
	padding: 0;
}

.prop-box ul > li {
	margin-bottom: 8px;
}

.prop-box .char {
	margin-left: 10px;
	margin-top: 10px;
}

.prop-box .char-level-and-race {
	margin-left: 10px;
}

/* list */
.prop-box ul {
	list-style-type: none;
}

/* width, height */
.prop-box .name {
	display: inline-block;
	min-width: 90px;
}

/* text, font */
.prop-box .char-level-and-race {
	font-size: 0.75em;
}