/* margin, padding */
.title-box ul {
	margin: 10px 0 0 0;
	padding: 0;
}

.title-box ul li {
	padding-left: 10px;
}

/* width, height */
.title-box ul li {
	height: 48px;
}

/* list */
.title-box ul {
	list-style-type: none;
}

/* border */
.title-box ul li {
	border-top: 1px solid black;
}

.title-box ul li:last-child {
	border-bottom: 1px solid black;
}

/* text, font */
.title-box ul li {
	line-height: 48px;
}